<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Search Users</title>
<th:block th:replace="fragments/links-to-css-and-js"></th:block>	
</head>

<body>
<div class="main-container item-listing-panel ml-5 mr-5 mt-4 w-85 p-4">

    <div th:replace="fragments/app-title"></div>
    <div th:replace="fragments/navbar"></div>

    <div class="page-title">
        <h4>Search Users</h4>
        <hr class="hr-below-pagetitle">
    </div>

    <div class="searchingPanel">
	    <!-- TODO - maybe add search by Library Card ID -->
        <div class="form-group">
            <form th:action="@{/users}" method="get">
                <label class="fixed-width-label-wide" for="userName">Username (name/surname):</label>
                <input type="text" name="userName" id="userName" th:value="${userName}"/>
                <br/>
                <button type="submit" class="btn btn-success book-rental-btn-mini">Search</button>
            </form>
        </div>
    </div>
    
    <hr/>
    <div class="page-content">
        <div class="small-space"></div>

        <table class="table table-striped book-rental-table">
          	<colgroup>
               <col span="1" style="width: 14%;">
               <col span="1" style="width: 10%;">
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 66%;">
		    </colgroup>

            <tr>
                <th>Username:</th>
                <th>Library CARD ID:</th>
                <th>User Role:</th>
                <th class="align-center">Operations:</th>
            </tr>
            
            <tr th:each="user: ${allUsers}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.libraryCardId}"></td>
                <td th:text="${user.libraryUserRole}"></td>
                <td class="content align-center">
                    <a th:href="@{/books-rented-by-user/{id}(id=${user.libraryCardId})}">
                        <button type="button" value="button" class="btn btn-primary book-rental-btn"> Rented Books
                        </button>
                    </a>
                    <a th:href="@{/users/{id}(id=${user.libraryCardId})}">
                        <button type="button" value="button" class="btn btn-secondary book-rental-btn">View User Info
                        </button>
                    </a>
                    <a th:href="@{/edit/users/{id}(id=${user.libraryCardId})}">
                        <button type="button" value="button" class="btn btn-info book-rental-btn">Edit User Info
                        </button>
                    </a>
                </td>
            </tr>
        </table>

        <div class="small-space"></div>

        <div class="left-side-buttons">
            <a href="/new-users">
                <button type="button" class="btn btn-success book-rental-btn btn-lg">Add Library User</button>
            </a>
        </div>
    </div>
</div>

<div class="big-space"></div>
</body>
</html>