<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
<title>Edit Book</title>
<th:block th:replace="fragments/links-to-css-and-js"></th:block>	
</head>

<body>
  <div class="main-container edit-item-panel ml-5 mr-5 mt-4 w-85 p-4">

    <div th:replace="fragments/app-title"></div>
    <div th:replace="fragments/navbar"></div>
    
    <div class="page-title">
        <h4>Edit Book</h4>
        <hr class="hr-below-pagetitle">
    </div>

    <div class="page-content">
        <form action="#" id="add-book-form" th:action="@{/books/{id}(id=${book.bookId})}" th:object="${book}"
              th:method="put">
            <div class="form-group">
                <label class="fixed-width-label" for="title">Book title:</label>
                <input type="text" class="form-control small-input-inline" th:field="*{title}" id="title"
                       placeholder="Title" maxlength="255">
                <div class="invalid-value" id="title-invalid">This field cannot be empty!</div>       
            </div>
            
            <div class="form-group">
                <label class="fixed-width-label" for="author">Author:</label>
                <input type="text" class="form-control small-input-inline" th:field="*{author}" id="author"
                       placeholder="Author" maxlength="255">
                <div class="invalid-value" id="author-invalid">This field cannot be empty!</div>       
            </div>
            
            <div class="form-group">
                <label class="fixed-width-label" for="isbn">ISBN:</label>
                <input type="text" class="form-control small-input-inline" th:field="*{isbn}" id="isbn"
                       placeholder="ISBN" maxlength="25">
                <div class="invalid-value" id="isbn-invalid">This field must have format (digits-digits-digits-digits-digits)!</div>                   
            </div>
            
            <div class="form-group">
                <label class="fixed-width-label font-weight-bold" for="description">Description:</label>
                <textarea class="form-control w-75 description" th:field="*{description}" id="description"
                          placeholder="Description" rows="3" maxlength="255"></textarea>
            </div>
            
            <div class="form-group">
                <label class="fixed-width-label" for="shelf">Shelf (in library):</label>
                <input type="text" class="form-control small-input-inline" th:field="*{shelf}" id="shelf"
                       placeholder="Shelf" maxlength="20">
            </div>
            
            <div class="form-group">
                <label class="fixed-width-label" for="yearOfPublication">Year of publication:</label>
                <input type="number" class="form-control number-input-inline" th:field="*{yearOfPublication}"
                       id="yearOfPublication" placeholder="Year of publication" min="1" max="2030">
                <div class="invalid-value" id="yearOfPublication-invalid">This field cannot be empty!</div>
            </div>
            
            <label class="fixed-width-label font-weight-bold" for="categories">Categories:</label><br/>
            <div class="form-group categories">
	            <div th:each="categoryOption, iteration :${T(library.enums.BookCategory).values()}" class="form-group categories"
	                 id="categories">
	                <input th:if="${bookCategoryToIsAlreadySelectedMap.get(categoryOption)}" class="form-check-input is-already-selected" type="checkbox" name="categories" th:field="*{categories}"
	                       th:value="${categoryOption}"
	                />
	                <input th:if="${!bookCategoryToIsAlreadySelectedMap.get(categoryOption)}" class="form-check-input" type="checkbox" name="categories" th:field="*{categories}"
	                       th:value="${categoryOption}"
	                />
	                <label th:text="${categoryOption.displayValue}"></label>
	                <th:block th:if="${iteration.even}"><br/></th:block>
	            </div>
            </div>
            
            <br/>
            <div class="left-side-buttons">
                <div class="left-side-button">
                    <input type="submit" value="Update Book" class="btn btn-success btn-lg book-rental-btn">
                </div>
            </div>
        </form>
    </div>

    <hr>
  </div>

	<script>
	    $( document ).ready(function() {
	        $('input[type=checkbox].is-already-selected').each(function() {
	            this.checked = true;
	        });
	    });
	</script>
</body>
</html>